<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h3>1.迭代数组</h3>
        <ul>
            <!-- e 代表的是emps数组的别名，index 数组下标，从0开始 的 
            注意：使用 key 特殊属性， 它会基于 key 的变化重新排列元素顺序，并且会移除 key 不存在的元素	
                可以使用of或者in作为分隔符
        -->
            <li v-for="(e, index) of emps" :key="index">
               编号：{{index+1}}，姓名： {{e.name}} ， 工资 ：{{e.salary}}
            </li>
        </ul>


        <h3>2.迭代对象</h3>
        <ul>
            <!-- value对应是的对象的属性值，key就是对象的属性名，index索引值 -->
            <li v-for="(value, key, index) in person">
                第{{index+1}}个属性为：{{key}} =  {{value}}
            </li>
        </ul>
        <span @click="clickMe">点我</span>
    </div>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                emps: [
                    {name: '马云', salary: '20000'},
                    {name: '马化腾', salary: '18000'},
                    {name: '东哥', salary: '13000'}
                ],
                person: {
                    name: '小梦',
                    age: 18
                },
                weekOption: [
                {
                value: '1',
                label: '星期一'
                },{
                value: '2',
                label: '星期二'
                },{
                value: '3',
                label: '星期三'
                },{
                value: '4',
                label: '星期四'
                },{
                value: '5',
                label: '星期五'
                },{
                value: '6',
                label: '星期六'
                },{
                value: '7',
                label: '星期日'
                }],
            },
            methods: {
                clickMe() {
                    // var self = this;
                    // this.weekOption.forEach((element, index) => {
                    //     console.log("1", element)
                    //     console.log("2", index)
                    // });
                    // for (const week in this.weekOption) {
                    //     console.log(week)
                    // }
                    
                }
            },
        })

        // const weekOption = [
        //         {
        //         value: '1',
        //         label: '星期一'
        //         },{
        //         value: '2',
        //         label: '星期二'
        //         },{
        //         value: '3',
        //         label: '星期三'
        //         },{
        //         value: '4',
        //         label: '星期四'
        //         },{
        //         value: '5',
        //         label: '星期五'
        //         },{
        //         value: '6',
        //         label: '星期六'
        //         },{
        //         value: '7',
        //         label: '星期日'
        //         }];
        // console.log(weekOption.filter(item => item.value != null))
        
        // const choosedDays = [1, 2, 3]
        // console.log('日期', choosedDays.toString())
        // var self = this
        // this.weekOption.forEach((element, self) => {
        //       console.log("1", element)
        //       console.log("2", self)
        //     });

    </script>
</body>
</html>